server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3307/taskdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: stms
    password: stms_pw
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  jwt:
    secret: "THIS_IS_A_SUPER_LONG_AND_SECURE_256_BIT_SECRET_KEY_123456"
    expirationSeconds: 3600
    issuer: "secure-task-app"

management:
  endpoints:
    web:
      exposure:
        include: health,info